    /* ========= MAKE BODY FULL SCREEN WITHOUT OVERFLOW =========  */

    html, body {
        font-family: 'Roboto', sans-serif;
        color: #222222;
        margin: 0;
        height: 100vh;
        width: auto;
        overflow: hidden;
    }
    body {
        background: #131417;
    }
    /* ========= CENTERS DIV ON SCREEN =========  */

    .centered {
        position: fixed;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
    }
    /* ========= CONTAINER OF MAIN DIV =========  */

    .container {
        width: 50vw;
        height: 50vh;
        padding: 0;
        -webkit-box-shadow: 0px 0px 35px -5px rgba(0, 0, 0, 0.85);
        -moz-box-shadow: 0px 0px 35px -5px rgba(0, 0, 0, 0.85);
        box-shadow: 0px 0px 35px -5px rgba(0, 0, 0, 0.85);
        overflow: hidden;
    }
    @media only screen and (max-width: 64em) {
        .container {
            width: 80vw;
            height: 80vh;
        }
    }
    /* ========= LEFT SIDE OF MAIN DIV =========  */

    .left-side {
        position: relative;
        background: #bba460;
        height: 100%;
    }
    .podcast_number {
        font-family: 'Merriweather', serif;
        font-weight: 500;
        font-style: italic;
        font-size: 6.5rem;
        font-size: 6.5vw;
    }
    .podcast_number span {
        font-weight: 400;
        font-size: 1.5rem;
        font-size: 1.5vw;
    }
    .podcast_title {
        font-family: 'Merriweather', sans-serif;
        font-weight: 800;
        font-style: italic;
        font-size: 2.4rem;
        font-size: 2.2vw;
        line-height: 1.2;
    }
    @media only screen and (max-width: 64em) {
        .left-side {
            height: 50%;
        }
        .podcast_title {
            padding: 35px;
            font-size: 7vmin;
        }
        .podcast_number {
            font-size: 10vmin;
        }
    }
    /* ========= RIGHT SIDE OF MAIN DIV =========  */

    .right-side {
        position: relative;
        background: #1c1e22;
        overflow: auto;
        height: 100%;
    }
    .red-block {
        background: #E53935;
        height: 5px;
        margin-top: 25px;
        width: 50px;
    }
    .text-right-side {
        color: #afafaf;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 0.8rem;
        font-size: 0.7vw;
        padding-top: 15px;
        line-height: 1.7;
    }
    .text-right-side h3 {
        color: #FFF;
        font-family: 'Lato', sans-serif;
        font-weight: 800;
        font-size: 1.3rem;
        font-size: 1.3vw;
        letter-spacing: 5px;
    }
    @media only screen and (max-width: 64em) {
        .right-side {
            height: 50%;
        }
        .text-right-side {
            font-size: 2.8vw;
            line-height: 1.6;
        }
        .text-right-side h3 {
            font-size: 4vw;
        }
    }
    /* ========= PODCAST PLAYER =========  */

    .audio-player {
        position: absolute;
        bottom: 0;
    }
    .plyr--audio .plyr__controls {
        padding: 10px;
        border-radius: inherit;
        background: transparent;
        border: none;
        box-shadow: none;
        color: #222;
    }
    .plyr--audio .plyr__progress--buffer {
        color: #222;
    }
    .plyr--audio .plyr__progress--buffer, .plyr--audio .plyr__volume--display {
        background: #454545;
    }
    .plyr__progress--played, .plyr__volume--display {
        color: #E53935;
    }
    .plyr--audio .plyr__controls button.tab-focus:focus, .plyr--audio .plyr__controls button:hover, .plyr__play-large {
        background: none !important;
        color: #fff;
    }

    :focus{
    outline: none;
}
.slimScroll {
    overflow: hidden;
    position: relative;
}

/* custom stylings */
.wrapper, .scroll-wrapper {
    padding: 5px;
    overflow-x: hidden;
}
.scroll-wrapper.mac + .scrollBarContainer{
    background-color: transparent;
}
.scrollBarContainer.animate .scroll{
    transition: 2s opacity ease;
    -ms-transition: 2s opacity ease;
    opacity: 0;
}
.scrollBarContainer:hover .scroll{
    opacity: 0.5;
    transition: none;
    -ms-transition: none;
}
.unselectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}

.scroll{
    border-radius: 10px;
}
.wrapper + .scrollBarContainer{
    background-color: #eee9ee;
}
.scrollBar {
    background-color: #60F509;
    border-radius: 10px;
    opacity: 0.5;
}
.scroll-bar{
    background-color: #14D1E0;
}
